$azul: #0075FF;
$gris: #808080;



aside{
    display: flex;
    justify-content: center;
    margin: 0;
}
    .contacto{
        height: 80%;   
        width: 100%;
        margin: 50px 0;
        

        .contacto_container{
            display: flex;
            justify-content: center;
        }
    }
    
    .img_contacto{
        display: flex;
        justify-content: center;
        img{
            width: 627px;
            height: 625px;
        }
    }
    
    .contact_form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        vertical-align: center;
        .text_wrapper{
            width: 513px;
            display: flex;
            flex-direction: column;
            width: 100%;
            h2{
                font-size: 25px;
                color: $azul;
                font-family: 'Open Sans', sans-serif;
                text-align: unset;
                margin: 0;
                margin-bottom: 20px;
        
                text-align: center;
                line-height: 1.1;
            }
            .contact_p{
                font-size: 16px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                line-height: 1.7;
                margin: 0;
                margin-bottom: 10px;
                width: 100%;
                text-align: center;
                
            }
            .contact_p2{
                width: 80%;
                margin: 0;
                font-size: 15px;
                font-family: 'Open Sans', sans-serif;
                margin: 20px 0;
            }
        }
        .inputs_wrapper{
            display: flex;
            flex-direction: column;
            justify-content: space-between; 
            align-items: center;
            border: none;
            margin: 20px 0;
            .input_wrapper{
            p{
                width: 100%;
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
            }
            input{
                width: 320px;
                margin: 0;
                border: 1px solid #afafaf;
                margin-bottom: 20px;
                }
            }
            textarea{
                width: 320px;
                border: 1px solid #afafaf;
                height: 100px;
                margin: 0;
            }
        
            }
        button{
            cursor: pointer;
            width: 80%; 
            height: 65px;
            border-radius: 6px;
            border: none;
            margin: 30px 0;
            color: white;
            background-color: $azul;
            text-align: center;
            font-size: 20px;
            font-family: 'Open Sans', sans-serif;
            font-weight: bolder;
            box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
            transition: 0.3s;
        }
        button:hover{
            background-color: black;
            color: white;
        }
    }
    
    ::placeholder{
        font-size: 16px;
        padding-left: 15px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        border: none;
    }
    
    .input_data{
        height: 40px;
    }
    
    .input_texto{
        height: 100px;
    }
        
    

    .info_container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto; 
        text-align: start;
    }

    .data_contact{
        display: block;
        width: 100%;

    }
    
    .info_tipo_container{
        display: flex;
        justify-content: center;
        margin: 0;
        margin: 15px 0;
        line-height:normal;
        text-align: start;
    }
    
    .info_tipo{
        color: $azul;
        font-size: 14px;
        margin: 0 20px 0 0;
    }
    .info_parrafo{
        font-size: 18px;
    }
    .logo_contact{
        display: flex;
        font-size: 1.2rem;
        margin: 0 5px 0 0;
    }
    

@media (min-width: 1400px){

aside{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
    .contacto{
        height: 120%;   
        width: 1180px;
        margin: 50px 0;
        

        .contacto_container{
            display: flex;
            justify-content: center;
        }
    }
    
    .img_contacto{
        display: flex;
        justify-content: center;
        img{
            width: 627px;
            height: 625px;
        }
    }
    
    .contact_form{
        display: flex;
        flex-direction: row;
        justify-content: center;
        vertical-align: center;
        .text_wrapper{
            width: 513px;
            display: flex;
            flex-direction: column;
            h2{
                font-size: 45px;
                color: $azul;
                font-family: 'Open Sans', sans-serif;
                text-align: unset;
                margin: 0;
                margin-bottom: 20px;
                width: 90%;
                line-height: 1.1;
            }
            .contact_p{
                font-size: 16px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                line-height: 1.7;
                margin: 0;
                margin-bottom: 20px;
                width: 80%;
                text-align: unset;
                
            }
            .contact_p2{
                width: 80%;
                margin: 0;
                font-size: 15px;
                font-family: 'Open Sans', sans-serif;
                margin: 20px 0;
            }
        }
        .inputs_wrapper{
            display: flex;
            flex-direction: column;
            justify-content: space-between; 
            align-items: center;
            border: none;
            margin: 0;  
            .input_wrapper{
            p{
                width: 100%;
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
            }
            input{
                width: 413px;
                margin-bottom: 25px;
                border: 1px solid #afafaf;
                
                }
            }
            textarea{
                width: 413px;
                border: 1px solid #afafaf;
                height: 100px;
                margin: 0;
            }
        
            }
        button{
            cursor: pointer;
            width: 414px;
            height: 65px;
            border-radius: 6px;
            border: none;
            margin: 30px 0;
            color: white;
            background-color: $azul;
            text-align: center;
            font-size: 20px;
            font-family: 'Open Sans', sans-serif;
            font-weight: bolder;
            box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
            transition: 0.3s;
        }
        button:hover{
            background-color: black;
            color: white;
        }
    }
    
    ::placeholder{
        font-size: 16px;
        padding-left: 15px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        border: none;
    }
    
    .input_data{
        height: 40px;
    }
    
    .input_texto{
        height: 100px;
    }
        
    

    .info_container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: start;
    }

    .data_contact{
        display: flex;
        width: 100%;

    }
    
    .info_tipo_container{
        display: unset;
        margin: 0;
        margin: 0 60px 0 0;
        line-height: 9px;
        text-align: start;
    }
    
    .info_tipo{
        color: $azul;
        font-size: 14px;
        margin: 10px 0;
    }
    .info_parrafo{
        font-size: 18px;
    }
    .logo_contact{
        display: flex;
        font-size: 1.4rem;
        margin: 0 7px 0 0;
    }

}