.section_5 {
    height: 100%;

    div {
        .section5_dos {
            padding: 0 60px;

            h5 {
                text-align: center;
                color: $azul;
                font-size: 18px;
                font-weight: 400;
                margin-top: 60px;
            }

            h2 {
                text-align: center;
                margin: 23px 0;
                font-weight: 700;
                font-size: 30px;
            }
        }

        .lista_wrapper {
            margin-top: 180px;
            padding: 0 60px;

            div {
                h1 {
                    font-size: 18px;
                    font-weight: 400;
                    color: $azul;
                    margin: 0;
                }

                h3 {
                    font-size: 24px;
                    font-weight: 700;
                    text-align: start;
                    margin-top: 15px;
                }

                .lista_section5 {
                    margin-top: 15px;

                    li {
                        line-height: 32px;
                        color: #808080;
                        font-family: 'Open Sans', sans-serif;
                        font-style: italic;
                    }
                }
            }

            .section5_image_container {
                display: flex;
                justify-content: center;
                margin: 100px 0;

            }
        }
    }

}

    .projects_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }






    /*  background-image:   linear-gradient(
        0deg, 
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/media/section5/1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */








    @media (min-width: 1400px) {
        .section_5 {
            height: 100%;

            div {
                margin: 0;

                .section5_dos {
                    padding: 0 60px;

                    h5 {
                        text-align: center;
                        color: $azul;
                        font-size: 18px;
                        font-weight: 400;
                        margin-top: 60px;
                    }

                    h2 {
                        text-align: center;
                        margin: 20px 0 50px 0;
                        font-weight: 700;
                        font-size: 24px;
                    }
                }
            }

            .lista_wrapper {
                display: flex;
                justify-content: center;
                margin-top: 0;
                padding: 0;
                height: 100%;

                div {
                    padding: 0 20px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;

                    h1 {
                        font-size: 18px;
                        color: $azul;
                        margin: 0;
                        margin-right: 50px;
                    }

                    h3 {
                        font-size: 24px;
                        font-weight: 700;
                        text-align: start;
                        margin-top: 15px;
                    }

                    .lista_section5 {
                        margin-top: 15px;
                        padding-left: 20px;

                        li {
                            line-height: 32px;
                            color: #646464;
                            font-family: 'Open Sans', sans-serif;
                            font-style: italic;

                        }
                    }
                }

            }
        }

        .projects_container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
         
            .project {
                display: flex;
                justify-content: center;
                margin: 50px 0;
                overflow: hidden;   
              

                .project_image {
                    
                    width: 580px;
                    height: 363px;
                    position: relative;
                    box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
                    background: url(/media/section5/1.png);

                            

                    background-size: 130%;
                    background-position: center;
                    transition: 0.8s;
                    
                    &:hover{
                        background-size: 140%;
                        background-position: center;
                    } 
                }
    
    
                .project_content {
                    display: flex;
                    align-items: center;
                    width: 495px;
                    div {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        div {
                            p {
                                display: flex;
                                justify-content: flex-end;
                                margin: 8px 0;
                            }
                            h3 {
                                display: flex;
                                justify-content: flex-end;
                                margin: 0px 0px 20px;
                                font-size: 25px;
                            }
                        }
                        .proyect_desc {
                            background-color: $azul;
                            border-radius: 3px;
                            padding: 14px;
                            box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
    
                            .parrafo_content {
                                color: white;
                                margin-bottom: 15px;
                                line-height: 25px;
                                text-align: right;
                            }
                        }
                        .link_content {
                            display: flex;
                            justify-content: flex-end;
                        }
                        .tech_list {
                            display: flex;
                            justify-content: flex-end;
                            flex-wrap: wrap;
                            list-style: none;
                            margin: 25px 0px 10px;
                            li {
                                margin: 0px 0px 5px 20px;
                                font-size: 13px;
                            }
                        }
                    }
    
                }
            }
    
        }

        .circle_hover{
            display: flex;
            background-color: rgba(0, 0, 0, 0.172);
            justify-content: center;
            align-items: center;
            opacity: 1;
            height: 100%;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            transition: 0.3s;
                .hoverr{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: aquamarine;
                    opacity: 0;
                    height: 60px;
                    width: 60px;
                    border-radius: 60px;
                    transition: 0.2s;
                    p{
                        font-size: 10px;
                        text-align: center;
                        color: black;
                        letter-spacing: 3px;
                        font-family: 'Open Sans', sans-serif;
                        transition: 0.3s;
                    }
                    
                }
        }
        .project_image:hover .circle_hover{
            opacity: 1;
            background-color: rgba(0, 0, 0, 0);
        }
        
        .project_image:hover .circle_hover .hoverr{
            height: 80px;
            width: 80px;
            opacity: 1;
        } 
        .project_image:hover .circle_hover .hoverr p{
            font-size: 14px;
        } 
        .p2{
            display: flex;
            flex-direction: row-reverse;
        }

}

