.section5 {
    height: 100%;

    div {
        .section__header {
            padding: 0 60px;

            h5 {
                text-align: center;
                color: $azul;
                font-size: 18px;
                font-weight: 400;
                margin-top: 60px;
            }

            h2 {
                text-align: center;
                margin: 23px 0;
                font-weight: 700;
                font-size: 30px;
            }
        }

        .lista_wrapper {
            margin: 40px 0;
            padding: 0 15px;

            div {
                h1 {
                    font-size: 18px;
                    font-weight: 400;
                    color: $azul;
                    margin: 0;
                }

                h3 {
                    font-size: 24px;
                    font-weight: 700;
                    text-align: start;
                    margin-top: 15px;
                }

                .lista_section5 {
                    margin-top: 15px;

                    li {
                        line-height: 32px;
                        color: #808080;
                        font-family: 'Open Sans', sans-serif;
                        font-style: italic;
                    }
                }
            }

            .section5_image_container {
                display: flex;
                justify-content: center;
                margin: 100px 0;

            }
        }
    }

}

    .projects_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }




    .section5 {
        height: 100%;
        div {
            margin: 0;

            .section__header {
                padding: 0 60px;

                h5 {
                    text-align: center;
                    color: $azul;
                    font-size: 18px;
                    font-weight: 400;
                    margin-top: 60px;
                }

                h2 {
                    text-align: center;
                    margin: 20px 0 50px 0;
                    font-weight: 700;
                    font-size: 24px;
                }
            }
        }

        .lista_wrapper {
            display: flex;
            justify-content: center;
            margin-top: 0;
            padding: 0;
            height: 100%;

            div {
                padding: 0 20px;
                display: flex;
                justify-content: center;
                flex-direction: column;

                h1 {
                    font-size: 18px;
                    color: $azul;
                    margin: 0;
                    margin-right: 50px;
                }

                h3 {
                    font-size: 24px;
                    font-weight: 700;
                    text-align: start;
                    margin-top: 15px;
                }

                .lista_section5 {
                    margin-top: 15px;
                    padding-left: 20px;

                    li {
                        line-height: 32px;
                        color: #646464;
                        font-family: 'Open Sans', sans-serif;
                        font-style: italic;

                    }
                }
            }

        }
    }

    .projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .project {
            display: flex;
            justify-content: center;
            margin: 50px 0;
            overflow: hidden;
        }   
            .project__image{
                width: 580px;
                height: 363px;
                position: relative;
                box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
            }
                .project__image--first{
                    background: url(/media/section5/1.png);
                    background-size: 130%;
                    background-position: center;
                    transition: 0.8s;
                &:hover{
                    background-size: 140%;
                    background-position: center;
                } 
                }


            .project__content {
                display: flex;
                align-items: center;
                width: 495px;
                div {
                    .content__header {
                        .content__title {
                            margin: 8px 0;
                        }
                        .content__subtitle {
                            margin: 0px 0px 20px;
                            font-size: 25px;
                        }
                        .content__title--end{
                            display: flex;
                            justify-content: flex-end;
                        }
                        .content__subtitle--end{
                            display: flex;
                            justify-content: flex-end;
                        }
                    }
                    .proyect__description {
                        background-color: $azul;
                        border-radius: 3px;
                        padding: 14px;
                        box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);

                        .description__paragraph {
                            color: white;
                            margin-bottom: 15px;
                            line-height: 25px;
                        }
                        .description__paragraph--end{
                            text-align: right;
                        }
                    }
                    .proyect__tech-list {
                        display: flex;
                        flex-wrap: wrap;
                        list-style: none;
                        
                        li {
                            margin: 0px 0px 5px 20px;
                            font-size: 13px;
                        }
                    }
                    .proyect__tech-list--end{
                        justify-content: flex-end;
                        margin: 25px 0px 10px;
                    }
                    .proyect__link {
                        color: black;
                        transition: 0.3s;
                        &:hover{
                            color: $azul;
                        }
                    }
                    .proyect__link--end{
                        display: flex;
                        justify-content: flex-end;
                    }
                }
        }
    }

    .project__hover-container{
        display: flex;
        background-color: rgba(0, 0, 0, 0.172);
        justify-content: center;
        align-items: center;
        opacity: 1;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 0.3s;
            .project__hover{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: aquamarine;
                opacity: 0;
                height: 60px;
                width: 60px;
                border-radius: 60px;
                transition: 0.2s;
                p{
                    font-size: 10px;
                    text-align: center;
                    color: black;
                    letter-spacing: 3px;
                    font-family: 'Open Sans', sans-serif;
                    transition: 0.3s;
                }
                
            }
    }

    .project__image:hover .project__hover-container{
        opacity: 1;
        background-color: rgba(0, 0, 0, 0);
    }
    
    .project__image:hover .project__hover-container .project__hover{
        height: 80px;
        width: 80px;
        opacity: 1;
    } 
    .project__image:hover .project__hover-container .project__hover p{
        font-size: 14px;
    } 


    .project--reverse{
        .project__image--second{
            background: url(/media/section5/3.png);
            background-size: 130%;
            background-position: center;
            transition: 0.8s;
        &:hover{
            background-size: 140%;
            background-position: center;
        } 
        }
        flex-direction: row-reverse;
        .description__paragraph--initial{
            text-align: start;
        }
        .proyect__tech-list--start{
            justify-content: flex-start;
            margin: 25px -18px 10px;
        }
    }


    .project__image--third{
        background: url(/media/section5/2.png);
        background-size: 130%;
        background-position: center;
        transition: 0.8s;
    &:hover{
        background-size: 140%;
        background-position: center;
    } 
    }


@media (max-width: 400px){
    .section5 {
        height: 100%;
        div {
            margin: 0;

            .section__header {
                padding: 0 60px;

                h5 {
                    text-align: center;
                    color: $azul;
                    font-size: 18px;
                    font-weight: 400;
                    margin-top: 60px;
                }

                h2 {
                    text-align: center;
                    margin: 20px 0 50px 0;
                    font-weight: 700;
                    font-size: 24px;
                }
            }
        }

        .lista_wrapper {
            display: flex;
            justify-content: center;
            margin-top: 0;
            padding: 0;
            height: 100%;

            div {
                padding: 0 20px;
                display: flex;
                justify-content: center;
                flex-direction: column;

                h1 {
                    font-size: 18px;
                    color: $azul;
                    margin: 0;
                    margin-right: 50px;
                }

                h3 {
                    font-size: 24px;
                    font-weight: 700;
                    text-align: start;
                    margin-top: 15px;
                }

                .lista_section5 {
                    margin-top: 15px;
                    padding-left: 20px;

                    li {
                        line-height: 32px;
                        color: #646464;
                        font-family: 'Open Sans', sans-serif;
                        font-style: italic;

                    }
                }
            }

        }
    }

    .projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .project {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin: 25px 0;
            overflow: hidden;
        }   
            .project__image{
                display: block;
                margin: auto;
                width: 370px;
                height: 230px;
                position: relative;
                box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
            }
                .project__image--first{
                    background: url(/media/section5/1.png);
                    background-size: 130%;
                    background-position: center;
                    transition: 0.8s;
                &:hover{
                    background-size: 140%;
                    background-position: center;
                } 
                }


            .project__content {
                display: flex;
                align-items: center;
                width: 100%;
                div {
                    .content__header {
                        .content__title {
                            display: flex;
                            justify-content: center;
                            margin: 8px 0;
                        }
                        .content__subtitle {
                            display: flex;
                            justify-content: center;
                            margin: 0px 0px 20px;
                            font-size: 25px;
                        }
                        .content__title--end{
                            display: flex;
                            margin-top: 15px;
                            justify-content: center;
                        }
                        .content__subtitle--end{
                            display: flex;
                            justify-content: center;
                        }
                    }
                    .proyect__description {
                        display: block;
                        margin: auto;

                        width: 92%;
                        background-color: $azul;
                        border-radius: 3px;
                        padding: 14px;
                        box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
                      

                        .description__paragraph {
                            color: white;
                            margin-bottom: 15px;
                            line-height: 25px;
                        }
                        .description__paragraph--end{
                            text-align: right;
                        }
                    }
                    .proyect__tech-list {
                        display: flex;
                        flex-wrap: wrap;
                        list-style: none;
                        justify-content: space-evenly;
                        
                        li {
                            margin: 0px;
                            font-size: 13px;
                            
                        }
                    }
                    .proyect__tech-list--end{
                        justify-content: space-evenly;
                        margin: 25px 0px 10px;
                    }
                    .proyect__link {
                        display: none;
                        color: black;
                        transition: 0.3s;
                        &:hover{
                            color: $azul;
                        }
                    }
                    .proyect__link--end{
                        display: flex;
                        display: none;  
                        justify-content: flex-start;
                    }
                }
        }
    }

    .project__hover-container{
        display: flex;
        background-color: rgba(0, 0, 0, 0.172);
        justify-content: center;
        align-items: center;
        opacity: 1;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 0.3s;
            .project__hover{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: aquamarine;
                opacity: 0;
                height: 60px;
                width: 60px;
                border-radius: 60px;
                transition: 0.2s;
                p{
                    font-size: 10px;
                    text-align: center;
                    color: black;
                    letter-spacing: 3px;
                    font-family: 'Open Sans', sans-serif;
                    transition: 0.3s;
                }
                
            }
    }

    .project__image:hover .project__hover-container{
        opacity: 1;
        background-color: rgba(0, 0, 0, 0);
    }
    
    .project__image:hover .project__hover-container .project__hover{
        height: 80px;
        width: 80px;
        opacity: 1;
    } 
    .project__image:hover .project__hover-container .project__hover p{
        font-size: 14px;
    } 


    .project--reverse{
        .project__image--second{
            background: url(/media/section5/3.png);
            background-size: 130%;
            background-position: center;
            transition: 0.8s;
        &:hover{
            background-size: 140%;
            background-position: center;
        } 
        }
        flex-direction:unset;
        .description__paragraph--initial{
            text-align: start;
        }
        .proyect__tech-list--start{
            justify-content: flex-start;
            margin: 25px -18px 10px;
        }
    }


    .project__image--third{
        background: url(/media/section5/2.png);
        background-size: 130%;
        background-position: center;
        transition: 0.8s;
    &:hover{
        background-size: 140%;
        background-position: center;
    } 
    }





}


    @media (min-width: 1400px) {
      

}

