    

.header{
    background-color: #1d1d1d;
    color: white;
    height: 60px;
    position: fixed;
    width: 100%;
    /* top: 60px; */
    left: 0;
    z-index: 150;
}
.logo{
    font-size: 25px;
    font-weight: bold;
    padding: 0 20px;
    line-height: 60px;
}

.nav-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    background-color: #000000;
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    /* height: calc(100% - 60px); */
    height: 70%;
    overflow-y: auto;
    left: 100%;
    /* left: 0; */
    transition: left 0.3s;
}

.nav{
    display: flex;
    justify-content: space-between;

}
.nav-link{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 70px;
}




.nav-toggle{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: block;
    cursor: pointer;
}
.nav-menu_visible{
    left: 0;
}


@media (min-width: 1400px){
    .header{
        background-color: unset;
        color: white;
        height: 80px;
        position: fixed;
        width: 100%;
        left: 0;
        z-index: 150;
        transition: 400ms ease-in-out;
       
    }
    .header-active{
        background-color: #00000081;
        backdrop-filter: blur(20px);
        box-shadow: 0 20px 30px rgba(0,0,0,0.15);
    }
    .logo{
        font-size: 40px;
        font-weight: bold;
        padding: 0 20px;
        line-height: 75px;
    }
    .nav-toggle{  
        display: none;
    }
    .nav-menu{
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: flex-end;
        list-style: none;
        margin: 0;
        background-color: unset;
        position: fixed;
        top: 0;
        width: 100%;
        padding: 0;
        height: 80px;
        overflow-y: auto;
        left: 0;
        transition: left 0.3s;
    }
   /*  .nav-menu_active{
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: flex-end;
        list-style: none;
        margin: 0;
        background-color: #2081ff81;
        position: fixed;
        top: 0;
        width: 100%;
        padding: 0;
        height: 15%;
        overflow-y: auto;
        left: 0;
        transition: left 0.3s;
    } */
    .nav-menu_visible{
        left: 100;
    }   
    .nav-menu-link{
        margin: 0 30px;
    }

}