$azul: #0075FF;
$gris: #808080;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; }
/* Landing Page */


body{
    font-family: 'Roboto', sans-serif;
}

.navbar-dark{
    background-color: rgb(0, 0, 0);
}

.logo{
    font-family: 'Kanit', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bolder;
    font-size: 64px;
    position: relative;
    left: 100px;
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-image: url(../media/landingimage.png);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 100vh;
    padding-left: 65px;
}
.slogan{
    font-size: 22px;
    font-weight: 700;
}
.slogan_parrafo{
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}
.empezemos{
    border-radius: 35px;
    width: 234px;
    background-color: rgba(152, 151, 151, 0.699);
    border: none;
    height: 49px;
    font-size: 28px;
    font-weight: 500;
    color: white;
    margin-top: 10px;
}


/* seccion 2 */

.card_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 148px;
}
.card{
    width: 314px;
    height: 289px;
    margin: 24px 0;
    text-align: center;
}
.card i{
    margin: 20px 0;
}
.titulo_card{
    font-size: 18px;
}
.fa-solid{
    color: $azul;
}
.fa-regular{
    color: $azul;
}
.parrafo_card{
    font-size: 14px;
    color: $gris;
}

/* seccion 3 */

.imgg_section3{
    position: relative;
}

.maincard_section3{
    background-color: white;
    position: absolute;
    top: 100px;
    left: 77px;
    width: 70%;
    opacity: 90%;
    text-align: center;
    padding: 80px;
}
.titulo_section3{
    color: $azul;
    font-size: 17px;
}
.titulo2_section3{
    font-size: 22px;
    font-weight: bolder;
}
.parrafo_section3{
    font-weight: light;
    font-size: 15px;
}

//BOLUDECES MATIAS//

 .section_4{
    div{
        background-color: black;   
        color: antiquewhite;    
        img{
            width: 100%;
            height: 60%;
            filter: grayscale(100%);
        }
        div{
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            margin-right: 20px;
            padding-top: 50px;
            padding-bottom: 50px;
            h5{
                color: $azul;
            }
        }
    }
} 